<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Admin Management System</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="container">
    <h1>E-Admin Page</h1>
    <div class="content">
        <h2>E-Admin</h2>
        <p>Use the following options to manage your system and registration process: </p>
    </div>
    <div class="nav">
        <a href="system-log">Check System Log</a>
        <a href="registration-process">Check Registration</a>
        <a href="editorial-policy">Policy</a>
        <a href="membership-fee">Membership Fee</a >
        <a href="edba-bank-account">E-DBA Bank Account</a >
        <a href="login" onclick="logout(event)">Log Out</a>
    </div>


</div>

<script>
    const userId = sessionStorage.getItem("userId");
    console.log("User ID is ", userId);

    async function logAction(userId, identity, action) {
        try {
            const response = await fetch(
                `/log/log-info?userId=${encodeURIComponent(userId)}&identity=${encodeURIComponent(identity)}&action=${encodeURIComponent(action)}`,
                {method: 'POST'}
            );

            if (!response.ok) {
                const text = await response.text();
                console.error('The server returned an error: ', text);
                throw new Error(`HTTP ${response.status}`);
            }

            const data = await response.json();
            console.log('Logging success:', data);
        } catch (error) {
            console.error('Logging Failure:', error);
        }
    }

    async function logout(event) {
        if (event) event.preventDefault();
        await logAction(userId, 'EAdmin', "Logout");
        const response = await fetch(`/user/logout?userId=${userId}`, {
          method: "POST"
        });
        const result = await response.json();

        if (response.ok && result.message) {
          sessionStorage.clear();

          window.location.href = "/frontend/login";
        } else {
          alert("Logout failed: " + (result.error || "Unknown error"));
        }
    }
</script>
</body>
</html>